<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./CSS/gethelp.css">
    <title>Get Help</title>
</head>

<body>
    
    <section>
        <nav>
            <nav>
                <ul class="exit">
                    <a href=""><i class="fa-solid fa-xmark"></i></a>
                </ul>
            </nav>
        </nav>
    </section>
    <section>
        <div class="sec1">
            <div class="content">
                <div>
                    <h2 id="sec1-text">Our Shelters</h2>

                </div>
                <div class="sec1-details">
                    <p>Here are our list of available Shelters <br>
                        You can contact them directly or click to <br> view their location. </p>
                    <br>
                    <div class="Shelter">
                        <details>
                            <summary>Shelter 1</summary>
                            <ol>
                                <li>Location</li>
                                <li>Phone number</li>
                            </ol>
                        </details>
                        <details>
                            <summary>Shelter 2</summary>
                            <ol>
                                <li>Location</li>
                                <li>Phone number</li>
                            </ol>
                        </details>
                        <details>
                            <summary>Shelter 3</summary>
                            <ol>
                                <li>Location</li>
                                <li>Phone number</li>
                            </ol>
                        </details>

                    </div>
                </div>
                <hr>
                <div class="contact">
                    <div>
                        <a href="">
                            <h2> <i class="fa-solid fa-phone"></i>Hotline<span>888</span></h2>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <h2> <i class="fa-brands fa-whatsapp"></i>Whatsapp<span>+23467979779</span></h2>
                        </a>
                    </div>
                    <div class="email">
                        <a href="">
                            <h2><i class="fa-regular fa-envelope"></i>Email<span>SaSecure@gmail.com</span></h2>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </section>
</body>

</html>