<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="./CSS/heal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.0/css/font-awesome.css"
        integrity="sha512-72McA95q/YhjwmWFMGe8RI3aZIMCTJWPBbV8iQY3jy1z9+bi6+jHnERuNrDPo/WGYEzzNs4WdHNyyEr/yXJ9pA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.0/css/font-awesome.min.css"
        integrity="sha512-FEQLazq9ecqLN5T6wWq26hCZf7kPqUbFC9vsHNbXMJtSZZWAcbJspT+/NEAQkBfFReZ8r9QlA9JHaAuo28MTJA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="./CSS/app.css" />
    <link rel="stylesheet" href="./CSS/style.css" />

</head>

<body>
    <header>

        <div class="w-75 d-flex text-center flex-row-reverse   justify-content-center"><img
                src="./img/ofnunnog 1(1).jpg" alt=""></div>
        </div>
        <nav>
            <div class="first-nav d-flex justify-content-between border-bottom">
                <div>
                    <img src="./img/image 4.jpg" alt="" />
                </div>
                <div class="m-2">
                    <button class="btn btn-primary my-2 Donate" type="submit">
                        Donate
                    </button>
                    <form action="/logout?_method=DELETE" method="POST">
                        <button class="btn btn-primary my-2 Submit" type="submit">
                            Log Out
                        </button>
                    </form>
                </div>
            </div>
            <div class="second-nav">
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#"></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                            <ul class="navbar-nav gap-lg-5 gap-md-1">
                                <li class="nav-item">
                                    <a class="nav-link fs-md-6" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link fs-md-6" href="#">Report Violence</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link fs-md-6" href="gethelp">Get Help</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link fs-md-6" href="heal">Heal</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link fs-md-6" href="support">Support Group</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link fs-md-6" href="#">Professionals</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link fs-md-6" href="#">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link fs-md-6" href="login">Logout</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" aria-disabled="true"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </nav>
        <div class="">
            <section class="sec 1 ">
                <h3 class="d-flex text-center justify-content-center">Inspiring Stories</h3>
                <div class="card mb-3 w-100 h-75  d-flex flex-column flex-row-reverse justify-content-center">
                    <div class="pt-5 ps-5 pb-4">
                        <div class="row g-0">
                            <div class="col-md-4 mt-4 w-25 ">
                                <img src="./img/Rectangle 49(1).jpg"
                                    class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title mb-4">The process of healing </h5>
                                    <p class="card-text">Everyone's healing journey is unique and doesn't always follow
                                        a linear path. There might be starts, stops, and restarts along the way, and
                                        that's perfectly okay. What matters most is that you've come this far, and
                                        that's something to be proud of.
                                        Remember, this is your journey, and you have the strength to keep going. No
                                        matter where you are on the path, know that there are resources and support
                                        available to help you every step of the way.</p>
                                    <button class="one px-4">Read</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <section class="sec 2 ">
                <h3 class="d-flex text-center justify-content-center">Articles Selection</h3>
                <div class="card mb-3 h-75 w-100  d-flex flex-column flex-row-reverse justify-content-center">
                    <div class="w-75 pt-5 pb-4">
                        <div class="row g-0">
                            <div class="col-md-4 w-25 mt-4">
                                <img src="./img/Rectangle 50.jpg"
                                    class="img-fluid rounded-start" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title mb-3">Heal with articles.</h5>
                                    <h6 class="mb-3">Embracing Self-Discovery and Unleashing Your True Potential</h6>
                                    <p class="card-text pretty"> Midst life's twists and turns, the path of
                                        self-discovery illuminates the hidden gems of our souls, guiding us towards a
                                        profound understanding of who we truly are</p>
                                    <button class="two px-4">Read</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <section class="sec 3">
                <h3 class="text-center justify-content-center">Support groups</h3>
                <div class="card mb-3 w-100 h-75 d-flex flex-column flex-row-reverse justify-content-center ">
                    <div class="w-75 pt-5 pb-4">
                        <div class="row g-0">
                            <div class="col-md-4 w-25 mt-4">
                                <img src="./img/Rectangle 56.jpg"
                                    class="img-fluid rounded-start" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title mb-4">We stand together </h5>
                                    <p class="card-text"> In the face of darkness, we find the light of hope and
                                        healing. Our support group stands as a beacon for survivors of domestic based
                                        violence</p>
                                    <button class="three px-4">Read</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </header>
    <footer>
        <footer class="py-5">
            <div class="foot py-5">
                <div class="foot1 d-flex ">
                    <div class="list-divs d-flex  ">
                        <div>
                            <ul class="">
                                <li><a href="#">Explore</a></li>
                                <li><a href="#">New Incidents</a></li>
                                <li><a href="#">Trending</a></li>
                                <li><a href="#">Recently viewed</a></li>
                                <li><a href="#">Popular this week</a></li>
                                <li><a href="#">All Stories</a></li>
                            </ul>
                        </div>
                        <div class="">
                            <ul>
                                <li><a href="#">Menue</a></li>
                                <li><a href="#">Home</a></li>
                                <li><a href="/SaCure-Project/SACURE-Gethelp page/">Get Help</a></li>
                                <li><a href="#">Heal</a></li>
                                <li><a href="#">Community</a></li>
                                <li><a href="#">Professionals</a></li>
                                <li><a href="#">Report</a></li>
                            </ul>
                        </div>
                        <div>
                            <ul>
                                <li><a href="#">Our Company</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Vacancies</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Policy</a></li>
                            </ul>
                        </div>
                        <div>
                            <ul>
                                <li><a href="#">Join Our mailing list</a></li>
                                <div class=" d-flex input">
                                    <input type="email" name="" id="" placeholder="@youremail">
                                    <a href="#" class="btn  go sign">SignUp</a>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="foot2 d-flex  flex-column ">
                    <div class="border-top border-2 w-100 "></div>
                    <div class="d-flex justify-content-between mx-5 px-5 my-3">
                        <div class="">
                            <p class="text-white">Copyright 2023 Sacure </p>
                        </div>
                        <div class="d-flex">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none">
                                    <rect width="24" height="24" fill="white" style="mix-blend-mode:multiply" />
                                    <path
                                        d="M19.65 3H4.35C3.6 3 3 3.6 3 4.275V19.65C3 20.325 3.6 20.925 4.35 20.925H19.65C20.4 20.925 21 20.325 21 19.65V4.275C21 3.6 20.4 3 19.65 3ZM8.325 18.3H5.7V9.75H8.325V18.3ZM7.05 8.55C6.225 8.55 5.475 7.875 5.475 6.975C5.475 6.075 6.15 5.4 7.05 5.4C7.875 5.4 8.625 6.075 8.625 6.975C8.625 7.875 7.875 8.55 7.05 8.55ZM18.375 18.225H15.75V14.025C15.75 13.05 15.75 11.7 14.325 11.7C12.9 11.7 12.75 12.825 12.75 13.875V18.15H10.125V9.75H12.6V10.875H12.675C13.05 10.2 13.95 9.45 15.225 9.45C17.925 9.45 18.45 11.25 18.45 13.575V18.225H18.375Z"
                                        fill="white" />
                                </svg>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none">
                                    <rect width="24" height="24" fill="white" style="mix-blend-mode:multiply" />
                                    <path
                                        d="M20.0025 3H3.9975C3.73355 3.00196 3.48097 3.10769 3.29433 3.29433C3.10769 3.48097 3.00196 3.73355 3 3.9975V20.0025C3.00196 20.2664 3.10769 20.519 3.29433 20.7057C3.48097 20.8923 3.73355 20.998 3.9975 21H12.615V14.04H10.275V11.3175H12.615V9.315C12.615 6.99 14.0325 5.7225 16.1175 5.7225C16.815 5.7225 17.5125 5.7225 18.21 5.8275V8.25H16.7775C15.645 8.25 15.4275 8.79 15.4275 9.5775V11.31H18.1275L17.775 14.0325H15.4275V21H20.0025C20.2664 20.998 20.519 20.8923 20.7057 20.7057C20.8923 20.519 20.998 20.2664 21 20.0025V3.9975C20.998 3.73355 20.8923 3.48097 20.7057 3.29433C20.519 3.10769 20.2664 3.00196 20.0025 3Z"
                                        fill="white" />
                                </svg>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none">
                                    <rect width="24" height="24" fill="white" style="mix-blend-mode:multiply" />
                                    <path
                                        d="M16.8042 8.2758C17.4007 8.2758 17.8842 7.79227 17.8842 7.1958C17.8842 6.59933 17.4007 6.1158 16.8042 6.1158C16.2077 6.1158 15.7242 6.59933 15.7242 7.1958C15.7242 7.79227 16.2077 8.2758 16.8042 8.2758Z"
                                        fill="white" />
                                    <path
                                        d="M12 7.37835C11.0859 7.37835 10.1924 7.64941 9.43235 8.15724C8.67232 8.66507 8.07995 9.38688 7.73015 10.2314C7.38035 11.0759 7.28883 12.0051 7.46715 12.9016C7.64548 13.7982 8.08565 14.6217 8.732 15.268C9.37835 15.9144 10.2018 16.3545 11.0984 16.5328C11.9949 16.7112 12.9241 16.6196 13.7686 16.2698C14.6131 15.92 15.3349 15.3277 15.8428 14.5677C16.3506 13.8076 16.6217 12.9141 16.6217 12C16.6217 10.7743 16.1347 9.59873 15.268 8.732C14.4013 7.86527 13.2257 7.37835 12 7.37835ZM12 15C11.4067 15 10.8266 14.8241 10.3333 14.4944C9.83994 14.1648 9.45542 13.6962 9.22836 13.1481C9.0013 12.5999 8.94189 11.9967 9.05764 11.4147C9.1734 10.8328 9.45912 10.2982 9.87868 9.87868C10.2982 9.45912 10.8328 9.1734 11.4147 9.05764C11.9967 8.94189 12.5999 9.0013 13.1481 9.22836C13.6962 9.45542 14.1648 9.83994 14.4944 10.3333C14.8241 10.8266 15 11.4067 15 12C15 12.7956 14.6839 13.5587 14.1213 14.1213C13.5587 14.6839 12.7956 15 12 15Z"
                                        fill="white" />
                                    <path
                                        d="M12 4.62165C14.4031 4.62165 14.6878 4.6308 15.6368 4.67415C16.2075 4.68094 16.7728 4.78577 17.308 4.98405C17.6961 5.13381 18.0486 5.36316 18.3428 5.65732C18.6369 5.95149 18.8663 6.30398 19.016 6.6921C19.2143 7.22731 19.3191 7.79261 19.3259 8.36333C19.3692 9.3123 19.3784 9.597 19.3784 12.0001C19.3784 14.4031 19.3693 14.6878 19.3259 15.6368C19.3191 16.2075 19.2143 16.7728 19.016 17.3081C18.8663 17.6962 18.6369 18.0487 18.3428 18.3428C18.0486 18.637 17.6961 18.8663 17.308 19.0161C16.7728 19.2144 16.2075 19.3192 15.6368 19.326C14.6879 19.3693 14.4033 19.3785 12 19.3785C9.5967 19.3785 9.31215 19.3694 8.36325 19.326C7.79253 19.3192 7.22723 19.2144 6.69202 19.0161C6.3039 18.8663 5.95142 18.637 5.65725 18.3428C5.36308 18.0487 5.13374 17.6962 4.98397 17.3081C4.78569 16.7728 4.68087 16.2075 4.67408 15.6368C4.6308 14.6878 4.62157 14.4031 4.62157 12.0001C4.62157 9.597 4.63072 9.3123 4.67408 8.36333C4.68087 7.79261 4.78569 7.22731 4.98397 6.6921C5.13373 6.30396 5.36307 5.95146 5.65724 5.65728C5.95141 5.3631 6.30389 5.13375 6.69202 4.98397C7.22723 4.78569 7.79253 4.68087 8.36325 4.67408C9.31222 4.6308 9.59693 4.62165 12 4.62165ZM12 3C9.55575 3 9.24922 3.01035 8.2893 3.05415C7.54279 3.06914 6.80422 3.21059 6.105 3.4725C5.50705 3.70374 4.96401 4.05735 4.51068 4.51068C4.05735 4.96401 3.70374 5.50705 3.4725 6.105C3.21055 6.80434 3.06909 7.54304 3.05415 8.28968C3.01035 9.24923 3 9.55575 3 12C3 14.4443 3.01035 14.7508 3.05415 15.7107C3.0691 16.4573 3.21056 17.196 3.4725 17.8954C3.70374 18.4933 4.05735 19.0364 4.51068 19.4897C4.96401 19.943 5.50705 20.2966 6.105 20.5279C6.80434 20.7898 7.54304 20.9313 8.28968 20.9462C9.24923 20.9897 9.55575 21 12 21C14.4443 21 14.7508 20.9896 15.7107 20.9459C16.4573 20.9309 17.196 20.7894 17.8954 20.5275C18.4933 20.2963 19.0364 19.9426 19.4897 19.4893C19.943 19.036 20.2966 18.493 20.5279 17.895C20.7898 17.1957 20.9313 16.457 20.9462 15.7103C20.9897 14.7508 21 14.4443 21 12C21 9.55575 20.9896 9.24922 20.9459 8.2893C20.9309 7.54279 20.7894 6.80422 20.5275 6.105C20.2962 5.50712 19.9426 4.96415 19.4893 4.51089C19.0359 4.05763 18.4929 3.70407 17.895 3.47287C17.1957 3.21093 16.457 3.06948 15.7103 3.05453C14.7508 3.01035 14.4443 3 12 3Z"
                                        fill="white" />
                                </svg>
                            </div>
                            <div><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none">
                                    <rect width="24" height="24" fill="white" style="mix-blend-mode:multiply" />
                                    <path
                                        d="M20.9324 13.4097C21.008 12.9435 21.0456 12.472 21.0449 11.9997C21.0449 9.6008 20.0919 7.30017 18.3957 5.60391C16.6994 3.90764 14.3988 2.95469 11.9999 2.95469C11.5276 2.95395 11.0561 2.99158 10.5899 3.06719C9.54445 2.44094 8.31975 2.18192 7.11027 2.33125C5.90079 2.48059 4.77587 3.02972 3.91415 3.89144C3.05242 4.75317 2.50329 5.87808 2.35396 7.08756C2.20462 8.29704 2.46365 9.52174 3.08989 10.5672C3.00552 11.0402 2.96036 11.5193 2.95489 11.9997C2.95489 14.3986 3.90784 16.6992 5.60411 18.3955C7.30038 20.0917 9.60101 21.0447 11.9999 21.0447C12.4722 21.0454 12.9437 21.0078 13.4099 20.9322C14.4553 21.5584 15.68 21.8175 16.8895 21.6681C18.099 21.5188 19.2239 20.9697 20.0856 20.1079C20.9474 19.2462 21.4965 18.1213 21.6458 16.9118C21.7952 15.7023 21.5361 14.4776 20.9099 13.4322L20.9324 13.4097ZM16.2974 16.1097C15.874 16.695 15.2907 17.1455 14.6174 17.4072C13.7867 17.7332 12.8996 17.8912 12.0074 17.8722C10.9689 17.9157 9.93579 17.7018 8.99989 17.2497C8.45426 16.9564 7.98634 16.5373 7.63489 16.0272C7.31296 15.5914 7.12998 15.0686 7.10989 14.5272C7.1091 14.3867 7.13734 14.2476 7.19283 14.1185C7.24833 13.9895 7.32988 13.8733 7.43239 13.7772C7.65955 13.5839 7.95198 13.4846 8.24989 13.4997C8.49885 13.495 8.74117 13.5802 8.93239 13.7397C9.14171 13.9355 9.30335 14.1767 9.40489 14.4447C9.53501 14.7579 9.70113 15.0549 9.89989 15.3297C10.098 15.5834 10.3556 15.7843 10.6499 15.9147C11.0496 16.0862 11.4828 16.1656 11.9174 16.1472C12.5364 16.1772 13.1495 16.0147 13.6724 15.6822C13.8731 15.5646 14.04 15.3972 14.1569 15.1962C14.2739 14.9951 14.3369 14.7673 14.3399 14.5347C14.3464 14.3718 14.3183 14.2094 14.2576 14.0582C14.1968 13.907 14.1047 13.7703 13.9874 13.6572C13.7203 13.4112 13.3992 13.2313 13.0499 13.1322C12.6599 13.0047 12.1424 12.8772 11.4899 12.7347C10.7405 12.5602 10.0096 12.3141 9.30739 11.9997C8.75481 11.7732 8.26756 11.4123 7.88989 10.9497C7.53169 10.4729 7.34652 9.88828 7.36489 9.29219C7.35883 8.68619 7.55403 8.09532 7.91989 7.61219C8.33778 7.093 8.8943 6.70292 9.52489 6.48719C10.3222 6.22235 11.1601 6.10048 11.9999 6.12719C12.657 6.11557 13.312 6.20408 13.9424 6.38969C14.4371 6.53659 14.9019 6.77022 15.3149 7.07969C15.6399 7.32382 15.9107 7.63285 16.1099 7.98719C16.272 8.27342 16.3597 8.59577 16.3649 8.92469C16.3639 9.0649 16.3349 9.2035 16.2795 9.33231C16.2241 9.46113 16.1435 9.57754 16.0424 9.67469C15.9403 9.78528 15.8161 9.87315 15.6779 9.93259C15.5396 9.99203 15.3904 10.0217 15.2399 10.0197C14.9986 10.0385 14.7594 9.96321 14.5724 9.80969C14.3756 9.62006 14.2109 9.39968 14.0849 9.15719C13.8991 8.77493 13.63 8.4392 13.2974 8.17469C12.8609 7.90255 12.347 7.78134 11.8349 7.82969C11.3092 7.80753 10.7883 7.93775 10.3349 8.20469C10.1702 8.29263 10.0311 8.42178 9.9312 8.57952C9.8313 8.73725 9.774 8.9182 9.76489 9.10469C9.75895 9.30845 9.82538 9.50774 9.95239 9.66719C10.102 9.84051 10.2858 9.98096 10.4924 10.0797C10.7124 10.1935 10.9436 10.284 11.1824 10.3497C11.4224 10.4172 11.8124 10.5147 12.3599 10.6422C13.0499 10.7922 13.6649 10.9572 14.2274 11.1372C14.7305 11.2905 15.2101 11.5126 15.6524 11.7972C16.0382 12.0412 16.3557 12.3793 16.5749 12.7797C16.7978 13.2364 16.901 13.7422 16.8749 14.2497C16.8817 14.9148 16.6797 15.5653 16.2974 16.1097Z"
                                        fill="white" />
                                </svg></div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none">
                                    <rect width="24" height="24" fill="white" style="mix-blend-mode:multiply" />
                                    <path
                                        d="M8.94 18.7045C10.2069 18.7125 11.4627 18.4688 12.6346 17.9877C13.8066 17.5066 14.8714 16.7975 15.7672 15.9017C16.663 15.0059 17.3721 13.9411 17.8532 12.7691C18.3343 11.5972 18.578 10.3414 18.57 9.0745C18.57 8.9245 18.57 8.782 18.57 8.632C19.2267 8.15087 19.7951 7.55963 20.25 6.8845C19.6316 7.15495 18.9773 7.33431 18.3075 7.417C19.0177 6.99384 19.5506 6.32775 19.8075 5.542C19.1456 5.93908 18.4199 6.21823 17.6625 6.367C17.1524 5.82352 16.4775 5.46329 15.7421 5.34204C15.0067 5.22079 14.2518 5.34527 13.5943 5.69624C12.9368 6.04721 12.4132 6.60509 12.1047 7.28356C11.7962 7.96203 11.7198 8.72327 11.8875 9.4495C10.542 9.38346 9.22553 9.03477 8.02377 8.42613C6.822 7.81749 5.7619 6.96256 4.9125 5.917C4.48419 6.66038 4.35437 7.53874 4.54932 8.37424C4.74427 9.20974 5.24942 9.93994 5.9625 10.417C5.43646 10.3967 4.92259 10.2528 4.4625 9.997V10.0345C4.45783 10.8114 4.71954 11.5664 5.20403 12.1737C5.68851 12.781 6.3665 13.2039 7.125 13.372C6.63573 13.5036 6.12322 13.5241 5.625 13.432C5.84459 14.0945 6.26376 14.6729 6.82503 15.0878C7.38631 15.5028 8.06219 15.7339 8.76 15.7495C7.56691 16.7099 6.08407 17.2385 4.5525 17.2495C4.28396 17.2417 4.01606 17.2192 3.75 17.182C5.30022 18.1697 7.1019 18.6904 8.94 18.682"
                                        fill="white" />
                                </svg>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none">
                                    <rect width="24" height="24" fill="white" style="mix-blend-mode:multiply" />
                                    <path
                                        d="M12 1.5C9.56573 1.51658 7.21282 2.37849 5.34381 3.93828C3.4748 5.49807 2.20583 7.65882 1.754 10.0509C1.30216 12.443 1.69553 14.9177 2.86681 17.0518C4.0381 19.1858 5.9145 20.8466 8.17505 21.75C8.02312 20.7558 8.02312 19.7442 8.17505 18.75L9.41255 13.5C9.21671 13.0245 9.11974 12.5142 9.12755 12C9.12755 10.545 9.97505 9.45 11.025 9.45C11.2153 9.44714 11.4038 9.48543 11.5779 9.56224C11.7519 9.63906 11.9073 9.75258 12.0334 9.89504C12.1595 10.0375 12.2533 10.2055 12.3083 10.3876C12.3634 10.5697 12.3785 10.7615 12.3525 10.95C12.3525 11.85 11.7825 13.2 11.4825 14.445C11.418 14.6772 11.4103 14.9215 11.4602 15.1573C11.51 15.3931 11.616 15.6133 11.769 15.7995C11.9221 15.9857 12.1177 16.1322 12.3394 16.2267C12.5611 16.3212 12.8023 16.361 13.0425 16.3425C14.9025 16.3425 16.3425 14.37 16.3425 11.535C16.3612 10.9589 16.2597 10.3853 16.0443 9.85061C15.8289 9.31598 15.5045 8.8321 15.0916 8.42986C14.6788 8.02762 14.1867 7.71584 13.6466 7.51442C13.1066 7.31299 12.5305 7.22634 11.955 7.26C11.3407 7.23361 10.7274 7.33216 10.1523 7.54966C9.57715 7.76717 9.05213 8.09912 8.609 8.52542C8.16587 8.95172 7.81385 9.46351 7.57425 10.0298C7.33465 10.5961 7.21245 11.2051 7.21505 11.82C7.20671 12.6766 7.4692 13.5139 7.96505 14.2125C8.0011 14.2526 8.02679 14.3009 8.03986 14.3532C8.05294 14.4055 8.053 14.4602 8.04005 14.5125C7.95755 14.8425 7.77755 15.5625 7.74755 15.705C7.71755 15.8475 7.59005 15.9375 7.39505 15.8475C6.08255 15.2325 5.26505 13.32 5.26505 11.775C5.26505 8.4675 7.67255 5.4225 12.2025 5.4225C15.84 5.4225 18.675 8.0175 18.675 11.49C18.675 15.105 16.425 18.015 13.2225 18.015C12.7531 18.0313 12.2869 17.9301 11.8665 17.7206C11.4461 17.511 11.0846 17.1997 10.815 16.815L10.1625 19.3125C9.84976 20.2831 9.41101 21.2085 8.85755 22.065C9.87738 22.3664 10.9367 22.513 12 22.5C14.7848 22.5 17.4555 21.3938 19.4247 19.4246C21.3938 17.4555 22.5 14.7848 22.5 12C22.5 9.21523 21.3938 6.54451 19.4247 4.57538C17.4555 2.60625 14.7848 1.5 12 1.5Z"
                                        fill="white" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="./hackathon.heal.js"></script>
</body>

</html>