<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SaCure</title>
  <link rel="stylesheet" href="" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="./CSS/app.css" />
  <link rel="stylesheet" href="./CSS/style.css" />
</head>

<body>
  <header class="container-fluid">
    <nav>
      <div class="first-nav d-flex justify-content-between border-bottom">
        <div>
          <img src="./img/image 4.jpg" alt="" />
        </div>
        <div class="m-2">
          <button class="btn btn-primary my-2 Donate" type="submit">
            Donate
          </button>
          <form action="/logout?_method=DELETE" method="POST">
            <button class="btn btn-primary my-2 Submit" type="submit">
              Log Out
            </button>
          </form>
        </div>
      </div>
      <div class="second-nav">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
              <ul class="navbar-nav gap-lg-5 gap-md-1">
                <li class="nav-item">
                  <a class="nav-link fs-md-6" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fs-md-6" href="#">Report Violence</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fs-md-6" href="gethelp">Get Help</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fs-md-6" href="heal">Heal</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fs-md-6" href="support">Support Group</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fs-md-6" href="#">Professionals</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fs-md-6" href="#">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fs-md-6" href="login">Logout</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" aria-disabled="true"></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </nav>

    <h5 style="color: rgb(54, 150, 210); text-align: center;" class="text-dark">Welcome <%= name %></h5>
    
    <div class="hero-container d-flex justify-content-center container-fluid align-items-center">
      <div class="d-flex mini-hero justify-content-center">
        <div class="first text-white text-left px-5">
          <!-- <h5 class="text-dark">Welcome <%= name %></h5> -->
          <h1 class="fs-3 we">We are here to HELP you</h1>
          <div class="sos-img-div rounded-circle d-flex">
            <img src="./img/noto_sos-button.jpg" class="sos-img" alt="" />
          </div>
          <p class="hero-text py-5">
            Have you suffered physical, sexual or emotional violence? <br />
            Are you healing? <br />
            We are here for you!
          </p>
        </div>
        <div class="container stock">
          <div class="">
            <img src="./img/GetPaidStock 1 (2).jpg" alt="" srcset="" class="w-" />
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <section class="sec1 container d-flex justify-content-center">
      <h1>Get Help IMMEDIATELY</h1>
      <div class="sec-con d-flex justify-content-center gap-3 align-items-center">
        <div class="col w-100 h-100">
          <div class="card">
            <div class="oip-img w-100">
              <img src="./img/OIP (4) 1.jpg" class="card-img-top" alt="..." />
            </div>
            <div class="card-body">
              <p class="card-text mt-4">
                You can get help based on your location, and language. Our
                Therapists, Medical Experts,<br />
                Legal Practioners are waiting to assist you.
              </p>
              <a href="#" class="btn btn-primary gop px-5">Get Help</a>
            </div>
          </div>
        </div>

        <div class="d-flex gap-3 third">
          <div class="card" style="width: 18rem">
            <img src="./img/Photo.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-text">
                Do you need support and Inspiration<br />
                to help you heal after abuse?<br />
                We are ready to walk you through.
              </p>
              <a href="#" class="btn btn-primary go">Go somewhere</a>
            </div>
          </div>
          <div class="card" style="width: 18rem">
            <img src="./img/Parent.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-text">
                Explore resources to identify abusers<br />
                and know if you are experiencing abuse. Know the Predators.
              </p>
              <a href="#" class="btn btn-primary go">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="sec2">
      <h1 class="text-center">What makes our brand different</h1>
      <div class="d-flex justify-content-center py-5 big">
        <div class="card" style="width: 18rem">
          <div class="card-body secc2">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                <g clip-path="url(#clip0_254_686)">
                  <path
                    d="M6.5998 12.0001V10.2001M6.5998 10.2001V4.2001C6.5998 3.88184 6.72623 3.57661 6.95128 3.35157C7.17632 3.12653 7.48154 3.0001 7.7998 3.0001C8.11806 3.0001 8.42329 3.12653 8.64833 3.35157C8.87338 3.57661 8.9998 3.88184 8.9998 4.2001V9.0001H13.0234C14.1154 9.0001 14.9998 9.8845 14.9998 10.9765V12.0001C14.9998 13.4323 14.4309 14.8058 13.4182 15.8185C12.4055 16.8312 11.032 17.4001 9.5998 17.4001H8.9998C7.72677 17.4001 6.50587 16.8944 5.60569 15.9942C4.70552 15.094 4.1998 13.8731 4.1998 12.6001C4.1998 11.9636 4.45266 11.3531 4.90275 10.903C5.35284 10.453 5.96328 10.2001 6.5998 10.2001ZM10.7998 6.6001H13.1998C13.9955 6.6001 14.7585 6.28403 15.3211 5.72142C15.8837 5.15881 16.1998 4.39575 16.1998 3.6001C16.1998 2.80445 15.8837 2.04139 15.3211 1.47878C14.7585 0.916168 13.9955 0.600098 13.1998 0.600098H4.7998C4.00416 0.600098 3.24109 0.916168 2.67848 1.47878C2.11588 2.04139 1.7998 2.80445 1.7998 3.6001C1.7998 4.39575 2.11588 5.15881 2.67848 5.72142C3.24109 6.28403 4.00416 6.6001 4.7998 6.6001"
                    stroke="#2A254B" stroke-width="1.5" />
                </g>
                <defs>
                  <clipPath id="clip0_254_686">
                    <rect width="18" height="18" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </div>
            <h5 class="card-title">Unique Panic Button</h5>
            <p class="card-text">
              Order before 3pm and get your order<br />
              the next day as standard
            </p>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <div class="card-body secc2">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M14 8C14 9.105 13.105 10 12 10C10.895 10 10 9.105 10 8C10 6.895 10.895 6 12 6C13.105 6 14 6.895 14 8ZM13 8C13 8.26522 12.8946 8.51957 12.7071 8.70711C12.5196 8.89464 12.2652 9 12 9C11.7348 9 11.4804 8.89464 11.2929 8.70711C11.1054 8.51957 11 8.26522 11 8C11 7.73478 11.1054 7.48043 11.2929 7.29289C11.4804 7.10536 11.7348 7 12 7C12.2652 7 12.5196 7.10536 12.7071 7.29289C12.8946 7.48043 13 7.73478 13 8ZM9 8.75C9 9.34674 8.76295 9.91903 8.34099 10.341C7.91903 10.7629 7.34674 11 6.75 11C6.45451 11.0001 6.1619 10.9419 5.88888 10.8289C5.61587 10.7158 5.36781 10.5501 5.15886 10.3411C4.94992 10.1322 4.78419 9.88413 4.67114 9.61112C4.55809 9.3381 4.49993 9.04549 4.5 8.75C4.5 7.507 5.507 6.5 6.75 6.5C7.993 6.5 9 7.507 9 8.75ZM8 8.75C8 9.441 7.441 10 6.75 10C6.58583 10.0001 6.42325 9.96778 6.27157 9.90498C6.11988 9.84219 5.98206 9.75012 5.86597 9.63403C5.74988 9.51794 5.65781 9.38012 5.59502 9.22843C5.53222 9.07675 5.49993 8.91417 5.5 8.75C5.5 8.059 6.059 7.5 6.75 7.5C7.441 7.5 8 8.059 8 8.75ZM2 14.727C2 12.914 5.331 12 7 12C7.4005 12 7.897 12.0525 8.42 12.158C9.0665 11.655 10.3365 11 12 11C13.6635 11 14.9335 11.655 15.58 12.158C16.103 12.0525 16.5995 12 17 12C18.6685 12 22 12.9135 22 14.727V18H2V14.727ZM3 14.727C3 14.609 3.047 14.4515 3.256 14.2405C3.4745 14.0205 3.82 13.7985 4.2745 13.6C5.19 13.2 6.3025 13 7 13C7.6975 13 8.811 13.2 9.725 13.6C10.18 13.7985 10.5255 14.021 10.744 14.2405C10.953 14.4515 11 14.609 11 14.727V17H3V14.727ZM14.275 12.5225C13.5664 12.1771 12.7883 11.9984 12 12C11.0625 12 10.284 12.2475 9.725 12.5225C10.945 12.971 12 13.7065 12 14.7275C12 13.7065 13.055 12.971 14.275 12.5225ZM13.256 14.2405C13.047 14.4515 13 14.609 13 14.727V17H21V14.727C21 14.609 20.953 14.4515 20.744 14.2405C20.5255 14.0205 20.18 13.7985 19.7255 13.6C18.81 13.2 17.6975 13 17 13C16.3025 13 15.189 13.2 14.275 13.6C13.82 13.7985 13.4745 14.021 13.256 14.2405ZM17.25 11C18.493 11 19.5 9.993 19.5 8.75C19.5 7.507 18.493 6.5 17.25 6.5C16.9545 6.49993 16.6619 6.55809 16.3889 6.67114C16.1159 6.78419 15.8678 6.94992 15.6589 7.15886C15.4499 7.36781 15.2842 7.61587 15.1711 7.88888C15.0581 8.1619 14.9999 8.45451 15 8.75C15 9.34674 15.2371 9.91903 15.659 10.341C16.081 10.7629 16.6533 11 17.25 11ZM17.25 10C17.941 10 18.5 9.441 18.5 8.75C18.5 8.059 17.941 7.5 17.25 7.5C17.0858 7.49993 16.9233 7.53222 16.7716 7.59502C16.6199 7.65781 16.4821 7.74988 16.366 7.86597C16.2499 7.98206 16.1578 8.11988 16.095 8.27157C16.0322 8.42325 15.9999 8.58583 16 8.75C16 9.441 16.559 10 17.25 10Z"
                  fill="#2A254B" />
              </svg>
            </div>
            <h5 class="card-title">Support Groups</h5>
            <p class="card-text">
              Handmade crafted goods made with<br />
              real passion and craftmanship
            </p>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <div class="card-body secc2">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path
                  d="M12 14.2501C11.1337 14.2508 10.2807 14.0369 9.51724 13.6274C8.75381 13.2178 8.10378 12.6255 7.62525 11.9033L8.87475 11.0731C9.2168 11.5889 9.68119 12.012 10.2265 12.3047C10.7718 12.5974 11.3811 12.7506 12 12.7506C12.6189 12.7506 13.2282 12.5974 13.7735 12.3047C14.3188 12.012 14.7832 11.5889 15.1253 11.0731L16.3748 11.9033C15.8962 12.6255 15.2462 13.2178 14.4828 13.6274C13.7193 14.0369 12.8663 14.2508 12 14.2501ZM15 6.00008C14.7033 6.00008 14.4133 6.08805 14.1666 6.25287C13.92 6.41769 13.7277 6.65196 13.6142 6.92605C13.5006 7.20014 13.4709 7.50174 13.5288 7.79271C13.5867 8.08368 13.7296 8.35096 13.9393 8.56074C14.1491 8.77051 14.4164 8.91338 14.7074 8.97125C14.9983 9.02913 15.2999 8.99943 15.574 8.8859C15.8481 8.77236 16.0824 8.58011 16.2472 8.33343C16.412 8.08676 16.5 7.79675 16.5 7.50008C16.502 7.30254 16.4646 7.10658 16.3899 6.92369C16.3152 6.74079 16.2048 6.57464 16.0651 6.43495C15.9254 6.29526 15.7593 6.18484 15.5764 6.11017C15.3935 6.0355 15.1975 5.99807 15 6.00008ZM9 6.00008C8.70333 6.00008 8.41332 6.08805 8.16665 6.25287C7.91997 6.41769 7.72771 6.65196 7.61418 6.92605C7.50065 7.20014 7.47094 7.50174 7.52882 7.79271C7.5867 8.08368 7.72956 8.35096 7.93934 8.56074C8.14912 8.77051 8.41639 8.91338 8.70737 8.97125C8.99834 9.02913 9.29994 8.99943 9.57403 8.8859C9.84811 8.77236 10.0824 8.58011 10.2472 8.33343C10.412 8.08676 10.5 7.79675 10.5 7.50008C10.502 7.30254 10.4646 7.10658 10.3899 6.92369C10.3152 6.74079 10.2048 6.57464 10.0651 6.43495C9.92544 6.29526 9.75928 6.18484 9.57639 6.11017C9.3935 6.0355 9.19754 5.99807 9 6.00008Z"
                  fill="#2A254B" />
                <path
                  d="M13.302 22.5L12 21.75L15 16.5H19.5C19.6971 16.5003 19.8923 16.4617 20.0744 16.3864C20.2565 16.3111 20.422 16.2007 20.5613 16.0613C20.7007 15.922 20.8111 15.7565 20.8864 15.5744C20.9617 15.3923 21.0003 15.1971 21 15V4.5C21.0003 4.30293 20.9617 4.10775 20.8864 3.92562C20.8111 3.7435 20.7007 3.57803 20.5613 3.43868C20.422 3.29933 20.2565 3.18885 20.0744 3.11358C19.8923 3.0383 19.6971 2.9997 19.5 3H4.5C4.30293 2.9997 4.10775 3.0383 3.92562 3.11358C3.7435 3.18885 3.57803 3.29933 3.43868 3.43868C3.29933 3.57803 3.18885 3.7435 3.11358 3.92562C3.0383 4.10775 2.9997 4.30293 3 4.5V15C2.9997 15.1971 3.0383 15.3923 3.11358 15.5744C3.18885 15.7565 3.29933 15.922 3.43868 16.0613C3.57803 16.2007 3.7435 16.3111 3.92562 16.3864C4.10775 16.4617 4.30293 16.5003 4.5 16.5H11.25V18H4.5C3.70435 18 2.94129 17.6839 2.37868 17.1213C1.81607 16.5587 1.5 15.7956 1.5 15V4.5C1.4999 4.10601 1.57743 3.71585 1.72816 3.35183C1.87889 2.98781 2.09986 2.65706 2.37846 2.37846C2.65706 2.09986 2.98781 1.87889 3.35183 1.72816C3.71585 1.57743 4.10601 1.4999 4.5 1.5H19.5C19.894 1.4999 20.2841 1.57743 20.6482 1.72816C21.0122 1.87889 21.3429 2.09986 21.6215 2.37846C21.9001 2.65706 22.1211 2.98781 22.2718 3.35183C22.4226 3.71585 22.5001 4.10601 22.5 4.5V15C22.5 15.7956 22.1839 16.5587 21.6213 17.1213C21.0587 17.6839 20.2956 18 19.5 18H15.8738L13.302 22.5Z"
                  fill="#2A254B" />
              </svg>
            </div>
            <h5 class="card-title">Chat Bot</h5>
            <p class="card-text">
              For our materials and quality you won’t find better prices
              anywherep
            </p>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <div class="card-body secc2">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <g clip-path="url(#clip0_254_692)">
                  <path
                    d="M11.9998 23.1426C18.1538 23.1426 23.1426 18.1538 23.1426 11.9998C23.1426 5.84576 18.1538 0.856934 11.9998 0.856934C5.84576 0.856934 0.856934 5.84576 0.856934 11.9998C0.856934 18.1538 5.84576 23.1426 11.9998 23.1426Z"
                    stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M12.8571 17.9996L16.2857 7.71387L6 11.1424L10.2857 13.7139L12.8571 17.9996Z" stroke="black"
                    stroke-linecap="round" stroke-linejoin="round" />
                </g>
                <defs>
                  <clipPath id="clip0_254_692">
                    <rect width="24" height="24" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </div>
            <h5 class="card-title">GPS Tracker</h5>
            <p class="card-text">
              We use 100% recycled packaging to ensure our footprint is
              manageablep>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="sec3">
      <h1 class="text-center">Take Care of YOU</h1>
      <div class="d-flex justify-content-center gap-3 Therapist">
        <div class="card" style="width: 18rem">
          <img src="./img/Parent (1).jpg" class="card-img-top" alt="..." />
          <div class="card-body secc3">
            <p class="card-text">Chat with a Therapist<br />£250</p>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <img src="./img/Photo (1).jpg" class="card-img-top" alt="..." />
          <div class="card-body secc3">
            <p class="card-text">Chat with a Doctor<br />£155</p>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <img src="./img/Photo (2).jpg" alt="cat" />
          <div class="card-body secc3">
            <p class="card-text">Chat with NGO rep<br />£25.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <img src="./img/Parent (2).jpg" class="card-img-top" alt="..." />
          <div class="card-body secc3">
            <p class="card-text">Chat with Legal Practitioner<br />£399</p>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center py-5">
        <a href="#" class="btn btn-primary go">view chats</a>
      </div>
    </section>
    <section>
      <div class="sec4 text-center">
        <h1>
          Join the support group and get<br />
          the benefits
        </h1>
        <p>
          Join our support group to find strength and healing in solidarity<br />
          with fellow survivors
        </p>
        <div>
          <input type="text" placeholder="username" /><a href="#" class="btn btn-primary go">Join us</a>
        </div>
      </div>
    </section>
    <section></section>
  </main>
  <footer>
    <footer class="py-5">
      <div class="foot py-5">
        <div class="foot1 d-flex ">
          <div class="list-divs d-flex  ">
            <div>
              <ul class="">
                <li><a href="#">Explore</a></li>
                <li><a href="#">New Incidents</a></li>
                <li><a href="#">Trending</a></li>
                <li><a href="#">Recently viewed</a></li>
                <li><a href="#">Popular this week</a></li>
                <li><a href="#">All Stories</a></li>
              </ul>
            </div>
            <div class="">
              <ul>
                <li><a href="#">Menue</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="/SaCure-Project/SACURE-Gethelp page/">Get Help</a></li>
                <li><a href="#">Heal</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="#">Professionals</a></li>
                <li><a href="#">Report</a></li>
              </ul>
            </div>
            <div>
              <ul>
                <li><a href="#">Our Company</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Vacancies</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Policy</a></li>
              </ul>
            </div>
            <div>
              <ul>
                <li><a href="#">Join Our mailing list</a></li>
                <div class=" d-flex input">
                  <input type="email" name="" id="" placeholder="@youremail">
                  <a href="#" class="btn  go sign">SignUp</a>
                </div>
              </ul>
            </div>
          </div>
        </div>
        <div class="foot2 d-flex  flex-column ">
          <div class="border-top border-2 w-100 "></div>
          <div class="d-flex justify-content-between mx-5 px-5 my-3">
            <div class="">
              <p class="text-white">Copyright 2023 Sacure </p>
            </div>
            <div class="d-flex">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <rect width="24" height="24" fill="white" style="mix-blend-mode:multiply" />
                  <path
                    d="M19.65 3H4.35C3.6 3 3 3.6 3 4.275V19.65C3 20.325 3.6 20.925 4.35 20.925H19.65C20.4 20.925 21 20.325 21 19.65V4.275C21 3.6 20.4 3 19.65 3ZM8.325 18.3H5.7V9.75H8.325V18.3ZM7.05 8.55C6.225 8.55 5.475 7.875 5.475 6.975C5.475 6.075 6.15 5.4 7.05 5.4C7.875 5.4 8.625 6.075 8.625 6.975C8.625 7.875 7.875 8.55 7.05 8.55ZM18.375 18.225H15.75V14.025C15.75 13.05 15.75 11.7 14.325 11.7C12.9 11.7 12.75 12.825 12.75 13.875V18.15H10.125V9.75H12.6V10.875H12.675C13.05 10.2 13.95 9.45 15.225 9.45C17.925 9.45 18.45 11.25 18.45 13.575V18.225H18.375Z"
                    fill="white" />
                </svg>
              </div>
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <rect width="24" height="24" fill="white" style="mix-blend-mode:multiply" />
                  <path
                    d="M20.0025 3H3.9975C3.73355 3.00196 3.48097 3.10769 3.29433 3.29433C3.10769 3.48097 3.00196 3.73355 3 3.9975V20.0025C3.00196 20.2664 3.10769 20.519 3.29433 20.7057C3.48097 20.8923 3.73355 20.998 3.9975 21H12.615V14.04H10.275V11.3175H12.615V9.315C12.615 6.99 14.0325 5.7225 16.1175 5.7225C16.815 5.7225 17.5125 5.7225 18.21 5.8275V8.25H16.7775C15.645 8.25 15.4275 8.79 15.4275 9.5775V11.31H18.1275L17.775 14.0325H15.4275V21H20.0025C20.2664 20.998 20.519 20.8923 20.7057 20.7057C20.8923 20.519 20.998 20.2664 21 20.0025V3.9975C20.998 3.73355 20.8923 3.48097 20.7057 3.29433C20.519 3.10769 20.2664 3.00196 20.0025 3Z"
                    fill="white" />
                </svg>
              </div>
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <rect width="24" height="24" fill="white" style="mix-blend-mode:multiply" />
                  <path
                    d="M16.8042 8.2758C17.4007 8.2758 17.8842 7.79227 17.8842 7.1958C17.8842 6.59933 17.4007 6.1158 16.8042 6.1158C16.2077 6.1158 15.7242 6.59933 15.7242 7.1958C15.7242 7.79227 16.2077 8.2758 16.8042 8.2758Z"
                    fill="white" />
                  <path
                    d="M12 7.37835C11.0859 7.37835 10.1924 7.64941 9.43235 8.15724C8.67232 8.66507 8.07995 9.38688 7.73015 10.2314C7.38035 11.0759 7.28883 12.0051 7.46715 12.9016C7.64548 13.7982 8.08565 14.6217 8.732 15.268C9.37835 15.9144 10.2018 16.3545 11.0984 16.5328C11.9949 16.7112 12.9241 16.6196 13.7686 16.2698C14.6131 15.92 15.3349 15.3277 15.8428 14.5677C16.3506 13.8076 16.6217 12.9141 16.6217 12C16.6217 10.7743 16.1347 9.59873 15.268 8.732C14.4013 7.86527 13.2257 7.37835 12 7.37835ZM12 15C11.4067 15 10.8266 14.8241 10.3333 14.4944C9.83994 14.1648 9.45542 13.6962 9.22836 13.1481C9.0013 12.5999 8.94189 11.9967 9.05764 11.4147C9.1734 10.8328 9.45912 10.2982 9.87868 9.87868C10.2982 9.45912 10.8328 9.1734 11.4147 9.05764C11.9967 8.94189 12.5999 9.0013 13.1481 9.22836C13.6962 9.45542 14.1648 9.83994 14.4944 10.3333C14.8241 10.8266 15 11.4067 15 12C15 12.7956 14.6839 13.5587 14.1213 14.1213C13.5587 14.6839 12.7956 15 12 15Z"
                    fill="white" />
                  <path
                    d="M12 4.62165C14.4031 4.62165 14.6878 4.6308 15.6368 4.67415C16.2075 4.68094 16.7728 4.78577 17.308 4.98405C17.6961 5.13381 18.0486 5.36316 18.3428 5.65732C18.6369 5.95149 18.8663 6.30398 19.016 6.6921C19.2143 7.22731 19.3191 7.79261 19.3259 8.36333C19.3692 9.3123 19.3784 9.597 19.3784 12.0001C19.3784 14.4031 19.3693 14.6878 19.3259 15.6368C19.3191 16.2075 19.2143 16.7728 19.016 17.3081C18.8663 17.6962 18.6369 18.0487 18.3428 18.3428C18.0486 18.637 17.6961 18.8663 17.308 19.0161C16.7728 19.2144 16.2075 19.3192 15.6368 19.326C14.6879 19.3693 14.4033 19.3785 12 19.3785C9.5967 19.3785 9.31215 19.3694 8.36325 19.326C7.79253 19.3192 7.22723 19.2144 6.69202 19.0161C6.3039 18.8663 5.95142 18.637 5.65725 18.3428C5.36308 18.0487 5.13374 17.6962 4.98397 17.3081C4.78569 16.7728 4.68087 16.2075 4.67408 15.6368C4.6308 14.6878 4.62157 14.4031 4.62157 12.0001C4.62157 9.597 4.63072 9.3123 4.67408 8.36333C4.68087 7.79261 4.78569 7.22731 4.98397 6.6921C5.13373 6.30396 5.36307 5.95146 5.65724 5.65728C5.95141 5.3631 6.30389 5.13375 6.69202 4.98397C7.22723 4.78569 7.79253 4.68087 8.36325 4.67408C9.31222 4.6308 9.59693 4.62165 12 4.62165ZM12 3C9.55575 3 9.24922 3.01035 8.2893 3.05415C7.54279 3.06914 6.80422 3.21059 6.105 3.4725C5.50705 3.70374 4.96401 4.05735 4.51068 4.51068C4.05735 4.96401 3.70374 5.50705 3.4725 6.105C3.21055 6.80434 3.06909 7.54304 3.05415 8.28968C3.01035 9.24923 3 9.55575 3 12C3 14.4443 3.01035 14.7508 3.05415 15.7107C3.0691 16.4573 3.21056 17.196 3.4725 17.8954C3.70374 18.4933 4.05735 19.0364 4.51068 19.4897C4.96401 19.943 5.50705 20.2966 6.105 20.5279C6.80434 20.7898 7.54304 20.9313 8.28968 20.9462C9.24923 20.9897 9.55575 21 12 21C14.4443 21 14.7508 20.9896 15.7107 20.9459C16.4573 20.9309 17.196 20.7894 17.8954 20.5275C18.4933 20.2963 19.0364 19.9426 19.4897 19.4893C19.943 19.036 20.2966 18.493 20.5279 17.895C20.7898 17.1957 20.9313 16.457 20.9462 15.7103C20.9897 14.7508 21 14.4443 21 12C21 9.55575 20.9896 9.24922 20.9459 8.2893C20.9309 7.54279 20.7894 6.80422 20.5275 6.105C20.2962 5.50712 19.9426 4.96415 19.4893 4.51089C19.0359 4.05763 18.4929 3.70407 17.895 3.47287C17.1957 3.21093 16.457 3.06948 15.7103 3.05453C14.7508 3.01035 14.4443 3 12 3Z"
                    fill="white" />
                </svg>
              </div>
              <div><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <rect width="24" height="24" fill="white" style="mix-blend-mode:multiply" />
                  <path
                    d="M20.9324 13.4097C21.008 12.9435 21.0456 12.472 21.0449 11.9997C21.0449 9.6008 20.0919 7.30017 18.3957 5.60391C16.6994 3.90764 14.3988 2.95469 11.9999 2.95469C11.5276 2.95395 11.0561 2.99158 10.5899 3.06719C9.54445 2.44094 8.31975 2.18192 7.11027 2.33125C5.90079 2.48059 4.77587 3.02972 3.91415 3.89144C3.05242 4.75317 2.50329 5.87808 2.35396 7.08756C2.20462 8.29704 2.46365 9.52174 3.08989 10.5672C3.00552 11.0402 2.96036 11.5193 2.95489 11.9997C2.95489 14.3986 3.90784 16.6992 5.60411 18.3955C7.30038 20.0917 9.60101 21.0447 11.9999 21.0447C12.4722 21.0454 12.9437 21.0078 13.4099 20.9322C14.4553 21.5584 15.68 21.8175 16.8895 21.6681C18.099 21.5188 19.2239 20.9697 20.0856 20.1079C20.9474 19.2462 21.4965 18.1213 21.6458 16.9118C21.7952 15.7023 21.5361 14.4776 20.9099 13.4322L20.9324 13.4097ZM16.2974 16.1097C15.874 16.695 15.2907 17.1455 14.6174 17.4072C13.7867 17.7332 12.8996 17.8912 12.0074 17.8722C10.9689 17.9157 9.93579 17.7018 8.99989 17.2497C8.45426 16.9564 7.98634 16.5373 7.63489 16.0272C7.31296 15.5914 7.12998 15.0686 7.10989 14.5272C7.1091 14.3867 7.13734 14.2476 7.19283 14.1185C7.24833 13.9895 7.32988 13.8733 7.43239 13.7772C7.65955 13.5839 7.95198 13.4846 8.24989 13.4997C8.49885 13.495 8.74117 13.5802 8.93239 13.7397C9.14171 13.9355 9.30335 14.1767 9.40489 14.4447C9.53501 14.7579 9.70113 15.0549 9.89989 15.3297C10.098 15.5834 10.3556 15.7843 10.6499 15.9147C11.0496 16.0862 11.4828 16.1656 11.9174 16.1472C12.5364 16.1772 13.1495 16.0147 13.6724 15.6822C13.8731 15.5646 14.04 15.3972 14.1569 15.1962C14.2739 14.9951 14.3369 14.7673 14.3399 14.5347C14.3464 14.3718 14.3183 14.2094 14.2576 14.0582C14.1968 13.907 14.1047 13.7703 13.9874 13.6572C13.7203 13.4112 13.3992 13.2313 13.0499 13.1322C12.6599 13.0047 12.1424 12.8772 11.4899 12.7347C10.7405 12.5602 10.0096 12.3141 9.30739 11.9997C8.75481 11.7732 8.26756 11.4123 7.88989 10.9497C7.53169 10.4729 7.34652 9.88828 7.36489 9.29219C7.35883 8.68619 7.55403 8.09532 7.91989 7.61219C8.33778 7.093 8.8943 6.70292 9.52489 6.48719C10.3222 6.22235 11.1601 6.10048 11.9999 6.12719C12.657 6.11557 13.312 6.20408 13.9424 6.38969C14.4371 6.53659 14.9019 6.77022 15.3149 7.07969C15.6399 7.32382 15.9107 7.63285 16.1099 7.98719C16.272 8.27342 16.3597 8.59577 16.3649 8.92469C16.3639 9.0649 16.3349 9.2035 16.2795 9.33231C16.2241 9.46113 16.1435 9.57754 16.0424 9.67469C15.9403 9.78528 15.8161 9.87315 15.6779 9.93259C15.5396 9.99203 15.3904 10.0217 15.2399 10.0197C14.9986 10.0385 14.7594 9.96321 14.5724 9.80969C14.3756 9.62006 14.2109 9.39968 14.0849 9.15719C13.8991 8.77493 13.63 8.4392 13.2974 8.17469C12.8609 7.90255 12.347 7.78134 11.8349 7.82969C11.3092 7.80753 10.7883 7.93775 10.3349 8.20469C10.1702 8.29263 10.0311 8.42178 9.9312 8.57952C9.8313 8.73725 9.774 8.9182 9.76489 9.10469C9.75895 9.30845 9.82538 9.50774 9.95239 9.66719C10.102 9.84051 10.2858 9.98096 10.4924 10.0797C10.7124 10.1935 10.9436 10.284 11.1824 10.3497C11.4224 10.4172 11.8124 10.5147 12.3599 10.6422C13.0499 10.7922 13.6649 10.9572 14.2274 11.1372C14.7305 11.2905 15.2101 11.5126 15.6524 11.7972C16.0382 12.0412 16.3557 12.3793 16.5749 12.7797C16.7978 13.2364 16.901 13.7422 16.8749 14.2497C16.8817 14.9148 16.6797 15.5653 16.2974 16.1097Z"
                    fill="white" />
                </svg></div>
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <rect width="24" height="24" fill="white" style="mix-blend-mode:multiply" />
                  <path
                    d="M8.94 18.7045C10.2069 18.7125 11.4627 18.4688 12.6346 17.9877C13.8066 17.5066 14.8714 16.7975 15.7672 15.9017C16.663 15.0059 17.3721 13.9411 17.8532 12.7691C18.3343 11.5972 18.578 10.3414 18.57 9.0745C18.57 8.9245 18.57 8.782 18.57 8.632C19.2267 8.15087 19.7951 7.55963 20.25 6.8845C19.6316 7.15495 18.9773 7.33431 18.3075 7.417C19.0177 6.99384 19.5506 6.32775 19.8075 5.542C19.1456 5.93908 18.4199 6.21823 17.6625 6.367C17.1524 5.82352 16.4775 5.46329 15.7421 5.34204C15.0067 5.22079 14.2518 5.34527 13.5943 5.69624C12.9368 6.04721 12.4132 6.60509 12.1047 7.28356C11.7962 7.96203 11.7198 8.72327 11.8875 9.4495C10.542 9.38346 9.22553 9.03477 8.02377 8.42613C6.822 7.81749 5.7619 6.96256 4.9125 5.917C4.48419 6.66038 4.35437 7.53874 4.54932 8.37424C4.74427 9.20974 5.24942 9.93994 5.9625 10.417C5.43646 10.3967 4.92259 10.2528 4.4625 9.997V10.0345C4.45783 10.8114 4.71954 11.5664 5.20403 12.1737C5.68851 12.781 6.3665 13.2039 7.125 13.372C6.63573 13.5036 6.12322 13.5241 5.625 13.432C5.84459 14.0945 6.26376 14.6729 6.82503 15.0878C7.38631 15.5028 8.06219 15.7339 8.76 15.7495C7.56691 16.7099 6.08407 17.2385 4.5525 17.2495C4.28396 17.2417 4.01606 17.2192 3.75 17.182C5.30022 18.1697 7.1019 18.6904 8.94 18.682"
                    fill="white" />
                </svg>
              </div>
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <rect width="24" height="24" fill="white" style="mix-blend-mode:multiply" />
                  <path
                    d="M12 1.5C9.56573 1.51658 7.21282 2.37849 5.34381 3.93828C3.4748 5.49807 2.20583 7.65882 1.754 10.0509C1.30216 12.443 1.69553 14.9177 2.86681 17.0518C4.0381 19.1858 5.9145 20.8466 8.17505 21.75C8.02312 20.7558 8.02312 19.7442 8.17505 18.75L9.41255 13.5C9.21671 13.0245 9.11974 12.5142 9.12755 12C9.12755 10.545 9.97505 9.45 11.025 9.45C11.2153 9.44714 11.4038 9.48543 11.5779 9.56224C11.7519 9.63906 11.9073 9.75258 12.0334 9.89504C12.1595 10.0375 12.2533 10.2055 12.3083 10.3876C12.3634 10.5697 12.3785 10.7615 12.3525 10.95C12.3525 11.85 11.7825 13.2 11.4825 14.445C11.418 14.6772 11.4103 14.9215 11.4602 15.1573C11.51 15.3931 11.616 15.6133 11.769 15.7995C11.9221 15.9857 12.1177 16.1322 12.3394 16.2267C12.5611 16.3212 12.8023 16.361 13.0425 16.3425C14.9025 16.3425 16.3425 14.37 16.3425 11.535C16.3612 10.9589 16.2597 10.3853 16.0443 9.85061C15.8289 9.31598 15.5045 8.8321 15.0916 8.42986C14.6788 8.02762 14.1867 7.71584 13.6466 7.51442C13.1066 7.31299 12.5305 7.22634 11.955 7.26C11.3407 7.23361 10.7274 7.33216 10.1523 7.54966C9.57715 7.76717 9.05213 8.09912 8.609 8.52542C8.16587 8.95172 7.81385 9.46351 7.57425 10.0298C7.33465 10.5961 7.21245 11.2051 7.21505 11.82C7.20671 12.6766 7.4692 13.5139 7.96505 14.2125C8.0011 14.2526 8.02679 14.3009 8.03986 14.3532C8.05294 14.4055 8.053 14.4602 8.04005 14.5125C7.95755 14.8425 7.77755 15.5625 7.74755 15.705C7.71755 15.8475 7.59005 15.9375 7.39505 15.8475C6.08255 15.2325 5.26505 13.32 5.26505 11.775C5.26505 8.4675 7.67255 5.4225 12.2025 5.4225C15.84 5.4225 18.675 8.0175 18.675 11.49C18.675 15.105 16.425 18.015 13.2225 18.015C12.7531 18.0313 12.2869 17.9301 11.8665 17.7206C11.4461 17.511 11.0846 17.1997 10.815 16.815L10.1625 19.3125C9.84976 20.2831 9.41101 21.2085 8.85755 22.065C9.87738 22.3664 10.9367 22.513 12 22.5C14.7848 22.5 17.4555 21.3938 19.4247 19.4246C21.3938 17.4555 22.5 14.7848 22.5 12C22.5 9.21523 21.3938 6.54451 19.4247 4.57538C17.4555 2.60625 14.7848 1.5 12 1.5Z"
                    fill="white" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  
  
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>


</html>